mongo:
    port: 27017
    auth:
        username: arena
        database: arena

backend:
    http:
        port: 5000
    metrics:
        port: 2112


bot:
    guildID: ":323741490465603594"
    appID: ":869502722901180436"
    metrics:
        port: 2112