backend:
  http:
    port: {{ .Values.backend.http.port }}

env:
  mongo:
    host: {{ .Values.mongo.host }}
    port: {{ .Values.mongo.port }}
    uri: mongodb://{{ .Values.mongo.auth.username }}:{{ .Values.mongo.auth.password }}@{{ .Values.mongo.host }}:{{ .Values.mongo.port }}/{{ .Values.mongo.auth.database }}