    auth:
        rootPassword: {{ .Values.mongo.auth.rootPassword }}
        username: {{ .Values.mongo.auth.username }}
        password: {{ .Values.mongo.auth.password }}
        database: {{ .Values.mongo.auth.database }}