env:
  guildID: {{ .Values.bot.env.guildID }}
  appID: {{ .Values.bot.env.appID }}
  arenaHost: {{ .Values.bot.env.arenaHost }}
  arenaPort: {{ .Values.bot.env.arenaPort }}
  arenaUrl: http://{{ .Values.bot.env.arenaHost }}:{{ .Values.bot.env.arenaPort }}